* {
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}
.container {
    display: flex;
    background:slategray;
    padding: 10px;
}
.navbar {
    background-color: slategray;
    padding: 15px;
}
.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: right;
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}
.nav-links li {
    display: inline-block;
    position: relative;
}
.nav-links li a {
    color: silver;
    text-decoration: none;
    padding: 10px 15px;
}
/* underline effect */
.nav-links li a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0; height: 2px;
    background: silver;
    transition: width 0.5s ease, left 0.5s ease;
}
/* hover effect */
.nav-links li a:hover::after {
    width: 100%;
    left: 0;
}
/*styling the logo*/
.logo {
    font-size: 24px;
    color: silver;
    font-weight: bold;
    text-decoration: none;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}
.gallery-item {
    width: 100px;
    height: 100px;
    background: white;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.gallery-image {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    height:90%;  
}

/* hover effect on an image */
.middle {
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
  }
  .gallery-item:hover .gallery-image {
    opacity: 0.3
  }
  .gallery-item:hover .middle {
    opacity: 1;
  }
  .text {
    background-color: lightslategrey;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  } 

/*styling the footer*/
footer {
    text-align: center;
    background: slategray;
    color: silver;
    padding: 20px;
    margin-top: 20px;
}